body,html{
	margin: 0px 0px 0px 0px;
}
body{
	background: #eee;
}
.pantalla-carga{
	width: 100%;
	height: 100%;
	background: rgba(50,50,50,0.5);
	position: fixed;
	top: 0px;
	z-index: 100;
	padding-top: 100px;
	display: none;
}
.cuadro-carga{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	text-align: center;
}
.img-carga{
	width: 200px;
}
.pantalla-sugerencia{
	width: 100%;
	height: 100%;
	background: rgba(50,50,50,0.5);
	position: fixed;
	top: 0px;
	z-index: 100;
	padding-top: 100px;
	display: none;
}
.cuadro-sugerencia{
	margin-left: auto;
	margin-right: auto;
	width: 280px;
	text-align: center;
	background: white;
	padding: 20px 10px 20px 10px;
	font-family: sans-serif;
}
.titulo-sugerencia{
	font-size: 20px;
	padding-bottom: 10px;
}
#sug{
	font-size: 20px;
}
.btns{
	display: flex;
}
.der{
	text-align: right;
	width: 50%;
}
.izq{
	text-align: left;
	width: 50%;
}
.btn-insertar{
	margin-top: 10px;
	border-style: none;
	font-size: 20px;
	background: rgb(8,8,150);
	padding: 5px 10px 5px 10px;
	color: white;
	cursor: pointer;
	margin-right: 2px;
}
.btn-insertar:hover{
	background: rgb(10,10,60);
}
.btn-cancelar{
	margin-left: 2px;
	margin-top: 10px;
	border-style: none;
	font-size: 20px;
	background: #ccc;
	padding: 5px 10px 5px 10px;
	color: #333;
	cursor: pointer;
}
.btn-cancelar:hover{
	background: #888;
}
.cuerpo-modulo-main{
	width: 100%;
	display: flex;
}
.panel-lateral{
	width: 250px;
	background: rgb(8,8,150);
	height: 500px;
	font-family: sans-serif;
}
.panel-contenido{
	padding: 10px 10px 10px 10px;
	width: calc(100% - 270px);
	font-family: sans-serif;
}
.img-logo{
	margin-left: 50px;
	margin-top: 10px;
	width: calc(100% - 100px);
}
.opciones-admin{
	margin-left: 10px;
	width: calc(100% - 20px);
}
a{
	text-decoration: none;
}
.opcion{
	padding: 10px 10px 10px 10px;
	color: white;
	width: calc(100% - 20px);	
}
.opcion:hover{
	background: rgb(10,10,60);
}
.opc-active{
	background: rgb(10,10,60);
}
.titulo-panel{
	background: white;
	padding: 10px 10px 10px 10px;
	width: calc(100% - 20px);
	font-size: 20px;
	color: #333;
}
.contenido-panel{
	margin-top: 10px;
	background: white;
	padding: 10px 20px 10px 20px;
	width: calc(100% - 40px);
}
.contenido-chat-panel{
	margin-top: 10px;
	background: white;
	padding: 10px 10px 10px 10px;
	width: calc(100% - 20px);
}
.fila-contenido{
	width: 100%;
	margin-bottom: 10px;
}
.label-texto{
	margin-bottom: 5px;
	display: flex;
}
.solo-texto{
	font-weight: bold;
	margin-right: 10px;
}
.btn-add{
	padding-top: 2px;
	padding-bottom: 4px;
	font-size: 15px;
}
.btn-add-campo{
	padding-top: 2px;
	padding-bottom: 4px;
	font-size: 15px;
}
.input-texto{
	width: 100%;	
	display: flex;
}
.input-imagenes{
	width: 100%;
}
.botones-funcion{
	width: calc(100% - 500px);
}
.lado-input{
	width: 500px;
}
input[type="text"]{
	padding: 3px 5px 3px 5px;
	width: 500px;
}
input[type="number"]{
	padding: 3px 5px 3px 5px;
	width: 200px;
}
#espacios{
	padding-top: 10px;
}
#estado,#categoria{
	width: 200px;
	padding: 3px 5px 3px 5px;
}
.img-imagen{
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	width: 98px;
	margin-right: 10px;
}
.fila-btn{
	width: 100%;
}
.btn-guardar{
	border-style: none;
	font-size: 20px;
	background: rgb(8,8,150);
	padding: 5px 10px 5px 10px;
	color: white;
	cursor: pointer;
}
.btn-guardar:hover{
	background: rgb(10,10,60);
}
.form-images{
	display: none;
}

/*Editar producto*/
.second{
	margin-top: 10px;
}
.table-main{
	width: 100%;
	border-collapse: collapse;
}
th{
	background: #666;
	color: white;
}
th,td{
	padding: 5px 5px 5px 5px;
	border-width: 1px;
	border-style: solid;
	text-align: left;
	border-color: #666;
}
.btn-editar{
	background: #2eb400;
	color: white;
	border-style: none;
	font-size: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	border-radius: 5px 5px 5px 5px;

}
.btn-editar:hover{
	background: green;
}
#table-movil{
	display: none;
}
#table-web{
	display: block;
}
.fila-chats{
	padding: 5px 5px 5px 5px;
	width: calc(100% - 10px);
	background: #eee;
	display: flex;
}
.lado-datos{
	width: calc(100% - 60px);
}
.lado-animacion{
	width: 60px;
	background: #ccc;
	border-radius: 5px 5px 5px 5px;
}
.lado-activado{
	display: none;
	width: 100%;
	background: green;
	border-radius: 5px 5px 5px 5px;
}
.separador-chats{
	width: 100%;
	height: 10px;
	background: white;
}
.client-detalles{
	padding: 5px 5px 5px 5px;
	width: calc(100% - 10px);
	font-size: 15px;
}
.client-link{
	padding: 0px 5px 0px 5px;
	width: calc(100% - 10px);
	font-size: 15px;
	text-decoration: underline;
}
.pantalla-chat{
	width: 100%;
	height: 500px;
	overflow-y: scroll;
}
.fila-mensajes{
	width: calc(100%);
	padding: 2px 0px 2px 0px;
}
.mensaje-ind{
	width: calc(100% - 10px);
	padding: 5px 5px 5px 5px;
	background: #ddd;
	text-align: left;
	display: flex;
}
.mensaje-fecha{
	font-size: 10px;
	padding-left: 10px;
	padding-top: 5px;
}
.mensaje-ind-blue{
	width: calc(100% - 10px);
	padding: 5px 5px 5px 5px;
	background: rgb(60,160,220);
	color: white;
	text-align: right;
}
.input-resp-web{
	width: 100%;
	display: flex;
}
.lado-input{
	width: calc(100% - 35px);
}
#input-resp{
	width: 100%;
	padding: 5px 5px 5px 5px;
	font-size: 15px;
}
.lado-boton{
	width: 35px;
}
.btn-send{
	width: 100%;
	font-size: 20px;
	background: rgb(8,8,150);
	color: white;
	padding-top: 5px;
	padding-bottom: 6px;
	border-style: none;
}
@media(max-width: 500px){
	.cuerpo-modulo-main {
	    display: block;
	}
	.panel-lateral{
		width: 100%;
		height: auto;
		padding-bottom: 10px;
	}
	.panel-contenido{
		width: calc(100% - 20px);
	}
	.img-logo{
		margin-left: 120px;
		width: calc(100% - 240px);
	}
	.contenido-panel{
		padding-left: 10px;
		padding-right: 10px;
		width: calc(100% - 20px);
	}
	.lado-input{
		width: calc(100% - 62px);
	}
	input[type="text"]{
		width: 100%;
	}
	.botones-funcion{
		width: 62px;
	}
	.img-imagen{
		margin-right: 0px;
		width: calc(100%/3 - 5px);
	}
	#estado,#categoria{
		width: 100%;
	}
	.table-main{
		font-size: 15px;
	}
	#table-movil{
		display: block;
	}
	#table-web{
		display: none;
	}
}