.nav-main{
	z-index: 100;
}
.separador-contactanos{
	width: 100%;
	height: 20px;
	background: #eee;
}
.contactanos-cuerpo-main{
	margin-left: 10px;
	margin-right: 10px;
	width: calc(100% - 20px);
	background: #eee;
}
.cuerpo-contactanos{
	padding: 0px 0px 10px 0px;
	width: 100%;
	background: white;
}
.titulo-contactanos{
	font-size: 30px;
	padding-top: 10px;
	width: 100%;
	text-align: center;
	color: #333;
}
.subtitulo-contactanos{
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
	color: #333;
}
.medio-contacto{
	width: 100%;
}
.titulo-contacto{
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
	color: #333;
	font-family: 'Nanum Pen Script', cursive;
	font-family: 'Permanent Marker', cursive;
}
.img-social-contacto{
	width: 80%;
}
.fila-iconos{
	width: 100%;
	display: flex;	
	padding-bottom: 20px;
}
.icono-red{
	width: 25%;
	text-align: center;
}
.img-red{
	width: 60%;
}
.separador-medios{
}
#map{
	margin: 0px 10px 0px 10px;
    height: 400px;
    width: calc(100% - 20px);
}
.dato-web{
	display: none;
}
.separador-contacto{
	width: 100%;
	height: 10px;
}
.medio-verde{
	background: #20a700;
}
.fila-datos{
	padding: 10px 10px 5px 10px;
	width: calc(100% - 20px);
	padding-bottom: 15px;
}
.dato{
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #333;
	padding-bottom: 5px;
}
.dato i{
	padding-left: 5px;
	padding-right: 5px;
}
.medio-red{
	background: red;
}
.columna-contacto{
	width: 100%;
	padding-bottom: 10px;
}
.columna-mitad1{
	width: 100%;
}
.columna-mitad2{
	padding-top: 10px;
	width: 100%;
}
.fila-datos-form{
	padding: 0px 10px 0px 10px; 
	width: calc(100% - 20px);
	padding-bottom: 15px;
}
.texto-label{
	font-size: 20px;
	padding-bottom: 5px;
}
.separador-label{
	width: 100%;
	height: 10px;
}
input{
	width: calc(100%);
	font-size: 17px;
	padding: 5px 8px 5px 8px;
}
.text-area{
	width: calc(100%);
	font-size: 17px;
	height: 180px;
}
.cuerpo-btn{
	width: 100%;
	text-align: center;
}
.btn-enviar{
	font-size: 25px;
	background: rgb(8,8,150);
	color: white;
	margin-top: 5px;
	padding: 5px 10px 5px 10px;
	border-style: none;
	cursor: pointer;
}
.btn-enviar:hover{
	background: rgb(13,80,190);
}